@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
  margin: 0;
  padding: 0;

}
.header {
  margin: 20px 0;
  padding: 30px;
}
.header h1 {
  font-size: 25px;
  color: #3f729b;
  font-family: 'Lobster', cursive;
}
.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}
.from {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.login {
  display: grid;
  grid-template-columns: 400px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.message {
  display: grid;
  grid-template-columns: 400px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.message h3 {
  font-size: 19px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.57);
  font-family: 'Lobster', cursive;
}
.message-textarea {
  height: 200px;
  line-height: 14px;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}